.NftItemContainer {
    // background-color: #2a2d3a;
    background-color: #222127;
    &:hover {
        transform: scale(1.04);
        // background: linear-gradient(180deg, rgba(42, 45, 58, 0) 0%, #005a70 60%);
        // background: linear-gradient(
        //     180deg,
        //     rgba(255, 255, 255, 0) 0%,
        //     #d6cda6 100%
        // );
    }

    .Info {
        margin-top: 10px;

        .Title {
            font-size: 14px;
        }

        .Price {
            font-size: 12px;
            font-weight: 600;
        }

        .TokenCode {
            font-size: 12px;
            margin-left: 4px;
        }

        .HeartIcon {
            width: 12px;
            height: 12px;
            margin-left: auto;
        }
    }
}
